*{
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    color: black;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body {
    background-color: #F4F1DE;
    float: center;
    text-align: center;
  }
  
  h1 {
    color: black;
    margin-left: 20px;
  }

.sellmit{
    text-align: left;
    color: white;
    overflow: hidden;
    padding: 15px 15px;
}


.container {
  vertical-align: middle;
}
.tabs {
    background-color: #3D405B;
    overflow: hidden;
    padding: 15px 15px;

}

.tabs a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.tabs a:hover {
  text-decoration: underline;
  transition: 0.5s;
}

/* Add a color to the active/current link */
.tabs a.active {
  background-color: #04AA6D;
  color: white;
}

  .title {
    color: black; 
    font-size: 40px;
    text-align: center;
  }

  form {
    border: 3px solid #f1f1f1;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #3D405B;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 40%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #a31f34;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }
